.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.tabelas {
  display: flex;
  flex-direction: row;
}

.tabela {
  border: 2px solid #fff;
  border-radius: 8px;
  margin: 0 20px;
  padding: 10px;
}
